  <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Here is your translation:</h1>
    <p><%= @phrase_to_pl%></p>
  </body>
</html>