<h1>Pig Latinizer! </h1>

    <form method="post" action="/piglatinize">
      <p>Enter your phrase:</p>
      <p>Word: <input type= "text" name="user_phrase"></p>
      <button type="submit" value="submit">submit</button>
    </form>
